#heading{
width:35%;
margin-top:100px;
margin-left:300px;
height:120px;
background-color:yellow;
}

.tab{

background-color:black;
}


.ab{
padding-top:20px;
padding-left:50px;
color:white;
}
.inputType {
width:20px;
padding-top:20px;
padding-left:10px;
}
.button{
padding-top:15px;
padding-left:50px;
}

